<section class="row">
	<a href="#/" class="close-view right waves-effect waves-light btn"><i class="material-icons">clear</i></a>
	<div class="col s10 offset-s1 digital-content">
		<div class="row full-height" ng-switch="vm.isLoading">
			<div ng-switch-when="true" class="full-height valign-wrapper">
					<div class="loader valign"></div>
			</div>
			<div ng-switch-when="false" ng-switch="vm.isSuccessful" class="full-height img-loaded">
					<div ng-switch-when="true" class="full-height">
						<ul class="grid">
							<li ng-repeat="picture in vm.pictures" class="col l3 m4 s6">
								<a modal ng-attr-href="#modal{{$index}}">
									<img ng-src="{{picture.url}}" ng-attr-alt="{{picture.title}}" class="slide responsive-img">
								</a>
							</li>
						</ul>
					</div>
				<div ng-switch-when="false" class="full-height valign-wrapper">
					<h2 class="center-element valign logo-font">Nothing here yet...</h2>
				</div>
			</div>
		</div>
	</div>
</section>
<div ng-attr-id="modal{{$index}}" class="modal modal-portfolio" ng-repeat="picture in vm.pictures">
  <div class="modal-content modal-portfolio">
    <div class="row">
      <div class="col s7 modal-img-container">
        <img class="responsive-img" ng-src="{{picture.url}}" alt="">
      </div>
      <div class="col s5 modal-main modal-portfolio">
        <div class="row">
          <h2>{{picture.name}}</h2>
          <blockquote>
              <h4>{{picture.type}}</h4>, <h5>{{picture.color}}</h5> <br>
              <b>{{picture.date}}</b>
          </blockquote>
        </div>
        <div class="row divider"></div>
        <div class="row">
          <b class="left">Name</b>
          <span class="right">Date</span><br>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <div class="divider"></div>
        </div>
        <div class="row">
          <b class="left">Name</b>
          <span class="right">Date</span><br>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <div class="divider"></div>
        </div>
        <div class="row">
          <b class="left">Name</b>
          <span class="right">Date</span><br>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <div class="divider"></div>
        </div>
        <div class="row">
          <b class="left">Name</b>
          <span class="right">Date</span><br>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <div class="divider"></div>
        </div>
        <div class="row">
          <form action="">
            <div class="input-field">
              <input type="text" ng-attr-id="textarea{{$index}}" class="validate"/>
              <label ng-attr-for="textarea{{$index}}">Add Comment...</label>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
