<!-- Header slide containing the logo and nav  -->
<header class="row full-height row-no-margin card card-main">
    <div class="valign-wrapper col s12 full-height">
        <div ng-if="appVm.currentUser.userRole === 'viewer'">
            <div ng-include="'/src/client/app/partials/connect.html'"></div>
        </div>
        <div ng-if="appVm.currentUser.userRole !== 'viewer'">
            <div ng-include="'/src/client/app/partials/connected.html'"></div>
        </div>
        <div class="row valign center-align">
            <h1>
                <a class="logo-main" href="#/">Le Huard</a>
            </h1>
            <div class="col s12 center-align">
                <nav>
                    <div class="nav-wrapper">
                        <ul style="overflow:hidden">
                            <li>
                                <h2>
                                    <a ui-sref="portfolio.120mm" class="dropdown-button btn-flat" dropdown data-hover="true" data-beloworigin="true" data-activates="nav-dropdown1">
                                        <span class="sliding-middle-out">120mm</span>
                                    </a>
                                </h2>
                                <ul id="nav-dropdown1" class="dropdown-content">
                                    <li>
                                        <a ui-sref="portfolio.120mm-black-white" class="center-align dropdown-link">
                                            <span class="sliding-middle-out">B & W</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a ui-sref="portfolio.120mm-color" class="center-align dropdown-link">
                                            <span class="sliding-middle-out">Color</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <h2>
                                    <a ui-sref="portfolio.35mm" class="dropdown-button btn-flat" dropdown data-hover="true" data-beloworigin="true" data-activates="nav-dropdown2">
                                        <span class="sliding-middle-out">35mm</span>
                                    </a>
                                </h2>
                                <ul id="nav-dropdown2" class="dropdown-content">
                                    <li>
                                        <a ui-sref="portfolio.35mm-black-white" class="center-align dropdown-link">
                                            <span class="sliding-middle-out">B & W</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a ui-sref="portfolio.35mm-color" class="center-align dropdown-link">
                                            <span class="sliding-middle-out">Color</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <h2>
                                    <a ui-sref="portfolio.film" class="dropdown-button btn-flat" dropdown data-hover="true" data-beloworigin="true" data-activates="nav-dropdown3">
                                        <span class="sliding-middle-out">Film</span>
                                    </a>
                                </h2>
                                <ul id="nav-dropdown3" class="dropdown-content">
                                    <li>
                                        <a ui-sref="portfolio.film-short" class="center-align dropdown-link">
                                            <span class="sliding-middle-out">Short</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <h2>
                                    <a ui-sref="portfolio.digital" class="dropdown-button btn-flat" dropdown data-hover="true" data-beloworigin="true" data-activates="nav-dropdown4">
                                        <span class="sliding-middle-out">Digital</span>
                                    </a>
                                </h2>
                                <ul id="nav-dropdown4" class="dropdown-content">
                                    <li>
                                        <a ui-sref="portfolio.digital-iphone" class="center-align dropdown-link">
                                            <span class="sliding-middle-out">iPhone</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a ui-sref="portfolio.digital-other" class="center-align dropdown-link">
                                            <span class="sliding-middle-out">Other</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <h2>
                                    <a ui-sref="portfolio.disposable" class="dropdown-button btn-flat" dropdown data-hover="true" data-beloworigin="true" data-activates="nav-dropdown5">
                                        <span class="sliding-middle-out">Disposable</span>
                                    </a>
                                </h2>
                                <ul id="nav-dropdown5" class="dropdown-content">
                                    <li>
                                        <a ui-sref="portfolio.disposable-black-white" class="center-align dropdown-link">
                                            <span class="sliding-middle-out">B & W</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a ui-sref="portfolio.disposable-color" class="center-align dropdown-link">
                                            <span class="sliding-middle-out">Color</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <h2>
                                    <a href="#/contact" class="btn-flat">
                                        <span class="sliding-middle-out">Contact</span>
                                    </a>
                                </h2>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
