  <!-- Header slide containaing the logo and nav  -->
  <header class="row full-height row-no-margin card">    
    <div class="valign-wrapper col s12 full-height">
      <div class="row absolute-right">
        <a href="#" class="btn-flat">Connection</a>          
      </div>
      <div class="row valign center-align">
        <h1>Le Huard</h1>
        <div class="col s12 center-align">
          <nav>
            <div class="nav-wrapper">
              <ul>
                <li>
                  <h2><a href="#/portfolio/120mm" class="dropdown-button btn-flat" dropdown data-hover="true" data-beloworigin="true" data-activates="nav-dropdown1">120mm</a></h2>
                  <ul id="nav-dropdown1" class="dropdown-content">
                    <li><a href="#/portfolio/120mm/bw" class="center-align" >B & W</a></li>
                    <li><a href="#portfolio/120mm/couleur" class="center-align" >Couleur</a></li>
                  </ul>
                </li>
                <li>
                  <h2><a href="#/portfolio/35mm" class="dropdown-button btn-flat" dropdown data-hover="true" data-beloworigin="true" data-activates="nav-dropdown2">35mm</a></h2>
                  <ul id="nav-dropdown2" class="dropdown-content">
                    <li><a class="center-align" href="#/portfolio/35mm/bw">B & W</a></li>
                    <li><a class="center-align" href="#/portfolio/35mm/couleur">Couleur</a></li>
                  </ul>
                </li>
                <li>
                  <h2><a href="#/portfolio/film" class="dropdown-button btn-flat" dropdown data-hover="true" data-beloworigin="true" data-activates="nav-dropdown3">Film</a><h2>
                  <ul id="nav-dropdown3" class="dropdown-content">
                    <li><a class="center-align" href="#/portfolio/film/court">Court</a></li>                      
                  </ul>
                </li>
                <li>
                  <h2><a href="#/portfolio/digitale" class="dropdown-button btn-flat" dropdown data-hover="true" data-beloworigin="true" data-activates="nav-dropdown4">Digitale</a><h2>
                  <ul id="nav-dropdown4" class="dropdown-content">
                    <li><a class="center-align" href="#">iPhone</a></li>
                    <li><a class="center-align" href="#">Autre</a></li>
                  </ul>
                </li>
                <li><h2><a href="#contact" class="btn-flat">Contact</a><h2></li>
              </ul>                
            </div>
          </nav>            
        </div>
      </div>
    </div>
  </header>