<!-- main content -->
<div class="center-align">
    <div class="card col s10 m10 l6 offset-s1 offset-m1 offset-l4">
        <div class="card-content">
            <div class="row">
                <h5>Manage Posts</h5>
            </div>
            <form>
                <div class="input-field">
                    <input ng-model="vm.search" id="search" type="search" required>
                    <label for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                </div>
            </form>
            <div class="row full-height" ng-switch="vm.isLoading">
                <div ng-switch-when="true" class="full-height valign-wrapper">
                    <div class="loader valign"></div>
                </div>
                <div ng-switch-when="false" ng-switch="vm.isSuccessful" class="full-height img-loaded">
                    <div ng-switch-when="true" class="full-height">
                        <ul deckgrid source="vm.posts" filter="vm.search" class="deckgrid">
                            <li ng-show="card.medium_type !== 'Film'" class="card">
                                <div class="card-image">
                                    <!-- <video ng-if="card.medium_type === 'Film'" class="slide responsive-video" class="responsive-img">
                                        <source src="/src/client/photos/Film/test.mp4">
                                    </video> -->
                                    <img ng-src="{{card.url}}" ng-attr-alt="{{card.title}}" class="responsive-img">
                                    <div class="card-title valign-wrapper flex-center">
                                        <span class="valign">
                                            {{card.title}}
                                        </span>
                                    </div>
                                </div>
                                <div class="card-action">
                                    <span class="sliding-middle-out">
                                      <a ui-sref="admin.manage.post({id: card.id})">Edit</a>
                                        <i class="material-icons">edit</i>
                                    </span>
                                </div>
                            </li>
                            <li ng-show="card.medium_type === 'Film'" class="card">
                                <div class="card-image">
                                    <img src="/src/client/photos/play.svg" class="<responsive-img></responsive-img>" alt="">
                                    <!-- <img ng-src="{{card.url}}" ng-attr-alt="{{card.title}}" class="responsive-img"> -->
                                    <div class="card-title valign-wrapper flex-center">
                                        <span class="valign">
                                            {{card.title}}
                                        </span>
                                    </div>
                                </div>
                                <div class="card-action">
                                    <span class="sliding-middle-out">
                                      <a ui-sref="admin.manage.post({id: card.id})">Edit</a>
                                        <i class="material-icons">edit</i>
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div ng-switch-when="false" class="full-height valign-wrapper">
                        <h2 class="valign img-loaded logo-font">Nothing here yet...</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
