.primary {
	color: #212121;
}

.secondary	{
	color: #F5F5F5;
}

.tertiary {
	color: #9c9494;
}

.absolute-right {
	position: absolute;
	right: 0;
}

html, body {
	height: 100vh;
	width: 100%;
	margin: 0;
	padding: 0;
}

.row-no-margin {
	margin-bottom: 0px !important;
}

section {
	background-color: #9c9494;
}

html {
	background-color: #212121;
}

body {
	color: #F5F5F5;
}

nav {
	background-color: transparent;
	box-shadow: none;
}

.full-height {
	height: 100vh;
}

.slides.full-height {
	height: 100% !important;
}

.slider .indicators .indicator-item.active {
	background-color: #212121;
}

.center-element {
	margin: 0 auto;
}

.btn-flat{
	color: white;
	text-decoration: underline;
	height: 100%;
}

nav ul li:hover {
	background-color: transparent;

}

header h1 {
	font-size: 10rem;
	
}

h1, h2, h3 {
	font-family: 'Playfair Display', serif;
}

.dropdown-content {
	background-color: transparent;
	box-shadow: none;	
}

.dropdown-content li>a {
	color: white;
}

.dropdown-content li:hover {
	background-color: transparent;
	text-decoration: underline;
}