/************************** Common to all pages *******************************/
.primary {
	color: #212121;
}
.secondary	{
	color: #F5F5F5;
}
.tertiary {
	color: #9c9494;
}
a {
	color: white;
}
.absolute-right {
	position: absolute;
	right: 0;
	top: 10px;
}
html, body {
	height: 100vh;
	width: 100%;
	margin: 0;
	overflow-y: hidden;
}
.row-no-margin {
	margin-bottom: 0px !important;
}
section {
	background-color: #9c9494;
}
html, .card {
	background-color: #212121;
	font-family: 'Raleway', sans-serif;
}
body {
	color: #F5F5F5;
	background-color: #9c9494;
}
blockquote {
	border-left-color: #9c9494;
}
.modal {
	width: 60% !important;
	max-height: 70% !important;
}
.modal h4, .modal h5 {
	display: inline-block;

}
.full-height {
	height: 100vh;
}
h1 {
	font-size: 10rem;
	font-family: 'Playfair Display', serif;
}
h2, h3, h4, h5 {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}
h2 {
	font-weight: 700;
}
.dropdown-content {
	background-color: transparent;
	box-shadow: none;
}
.wrapper,
.wrapper > .row,
.wrapper > .row > .slider,
.wrapper > .row > .slider > .slides,
.wrapper > .row > .slider > .slides .card-image {
	height: 100% !important;
	width: 100%;
	margin: 0;
}
.wrapper {
    bottom: 0;
    position: absolute;
    top: 0;
    padding: 20px;
    background-color: #9c9494;
}
/* fadeIn */
@keyframes fadeIn {
	from 	{ opacity: 0;}
	to 		{ opacity: 1;}
}
@-moz-keyframes fadeIn {
	from 	{ opacity: 0;}
	to 		{ opacity: 1;}
}
@-webkit-keyframes fadeIn {
	from 	{ opacity: 0;}
	to 		{ opacity: 1;}
}
/* fadeOut */
@keyframes fadeOut {
	from 	{ opacity: 1;}
	to 		{ opacity: 0;}
}
@-moz-keyframes fadeOut {
	from 	{ opacity: 1;}
	to 		{ opacity: 0;}
}
@-webkit-keyframes fadeOut {
	from 	{ opacity: 1;}
	to 		{ opacity: 0;}
}
.ng-enter {
	animation: fadeIn 1s both ease;
	z-index: 9999;
}
.ng-leave {
	animation: fadeOut 1s both ease;
	z-index: 8888;
}
.close-view {
	background-color: rgba(245, 245, 245, 0.5);
	z-index: 3;
	padding: 0;
	border-radius: 0;
	box-shadow: none;
}
.close-view:hover {
	background-color: rgba(245, 245, 245, 0.7);
}
.close-view > .material-icons {
	color: black;
	font-size: 3rem;
}
/******************************************************************************/

/* Langing Page */
.connect-btn {
	background-color: transparent;
	border-radius: none;
	box-shadow: none;
	padding: 20px;
}
.connect-btn:hover {
	background-color: transparent;
	box-shadow: none;
}
.connect-btn i {
	font-size: 2rem !important;
}
nav {
	background-color: transparent;
	box-shadow: none;
}
.center-element {
	margin: 0 auto;
}
header a {
	color: white !important;
	height: 100%;
	font-size: 1.6rem !important;
}
header a:hover {
	font-style: italic;
}
nav ul li:hover {
	background-color: transparent !important;
}
header {
	background-color: #212121;
}
.card-action {
	overflow: hidden;
}
/******************************************************************************/

/************************* Portfolio pages (with sliders) *********************/
.slider .indicators .indicator-item.active {
	background-color: #9c9494;
}
.slider-header {
	position: absolute;
	z-index: 3;
	bottom: 0;
	background-color: rgba(33, 33, 33, 0.8);
	text-align: center;
}
.slide {
	cursor: pointer;
}
.slider .indicators {
	z-index: 5;
	bottom: 20vh;
}
.slider-controls {
	font-size: 4rem;
	color: #F5F5F5;
}
.modal, .modal-content {
	color: #212121;
}
.modal {
	overflow-y: hidden;
	height: 100%;
	background-color: #F5F5F5;
}
.modal-content, .modal-content > .row {
	height: 100%;
	padding: 0 !important;
}
.modal-img-container {
	padding-top: 24px !important;
	padding-left: 24px !important;
}
.modal-main {
	height: inherit;
	overflow-y: scroll;
	padding-right: 24px !important;
	padding-top: 24px !important;
}
/******************************************************************************/

/****************************** Digitale section ******************************/
.row.digitale {
	background-color: #212121;
}
/******************************************************************************/

/******************************** Contact page ********************************/

/******************************************************************************/
