<section class="row">
	<a href="#/" class="close-view right waves-effect waves-light btn"><i class="material-icons">clear</i></a>
	<div class="col s10 offset-s1 digital-content">
		<div class="row full-height" ng-switch="vm.isLoading">
			<div ng-switch-when="true" class="full-height valign-wrapper">
				<div class="loader valign"></div>
			</div>
			<div ng-switch-when="false" ng-switch="vm.isSuccessful" class="full-height img-loaded">
				<div ng-switch-when="true" class="full-height">
					<ul deckgrid source="vm.pictures" class="deckgrid grid">
						<li class="card">
							<div class="card-image">
								<a modal ng-attr-href="#modal{{card.$index}}">
									<img ng-src="{{card.url}}" ng-attr-alt="{{card.title}}" class="slide responsive-img">
								</a>
							</div>
						</li>
					</ul>
				</div>
				<div ng-switch-when="false" class="full-height valign-wrapper">
					<h2 class="valign img-loaded logo-font">Nothing here yet...</h2>
				</div>
			</div>
		</div>
	</div>
</section>
<div ng-attr-id="modal{{$index}}" class="modal modal-portfolio" ng-repeat="picture in vm.pictures">
	<div class="modal-content modal-portfolio">
		<div class="row">
			<div class="col s7 modal-img-container">
				<img class="responsive-img" ng-src="{{picture.url}}" alt="">
			</div>
			<div class="col s5 modal-main modal-portfolio">
				<div class="row">
					<h2>{{picture.title}}</h2>
					<blockquote>
						<h4>{{picture.medium_type}}</h4>
						<h5 ng-show="{{picture.medium_spec !== ''}}">, {{picture.medium_spec}}</h5>
						<br>
						<b ng-show="{{picture.media_date !== '0000-00-00'}}">{{picture.media_date}}</b>
					</blockquote>
				</div>
				<div class="row divider"></div>
				<div class="row">
					<ul class="collection">
						<li class="collection-item avatar" ng-if="comment.post_id === picture.id" ng-repeat="comment in vm.comments">
							<img src="/src/client/photos/user.svg" alt="" class="circle">
							<span class="title">{{comment.username}} on {{comment.comment_date}}</span>
							<p>{{comment.content}}</p>
							<a ng-if="appVm.currentUser.userRole === 'admin'"  href="" ng-click="" class="secondary-content"><i class="material-icons">delete</i></a>
						</li>
					</ul>
				</div>
				<div ng-if="appVm.currentUser.userRole !== 'viewer'" class="row">
					<form ng-submit="vm.postComment(vm.comments, appVm.currentUser.userId, picture.id, vm.newComment, appVm.currentUser.userName, picture.medium_type, picture.medium_spec)">
						<input-field>
							<textarea ng-attr-id="textarea{{$index}}" ng-model="vm.newComment" class="materialize-textarea" length="150"></textarea>
							<label ng-attr-for="textarea{{$index}}">Add Comment...</label>
						</input-field>
						<input-field>
							<button type="submit">Submit</button>
						</input-field>
					</form>
				</div>
				<div ng-if="appVm.currentUser.userRole === 'viewer'" class="row">
					<a ui-sref="portfolio.connection" class="btn-flat link-btn no-padding modal-close">
						<span class="sliding-middle-out primary">
                            Please log in to submit a comment.
							<i class="material-icons">exit_to_app</i>
                        </span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
