<section class="row row-no-margin full-height">
    <a href="#/" class="close-view right waves-effect waves-light btn"><i class="material-icons">clear</i></a>
    <div class="valign-wrapper col s12 full-height">
      <div class="valign center-element">
        <div class="center-align">
          <div class="card connection-card col s12 m12 l12 offset-s0 offset-m0 offset-l0">
            <div class="row">
              <h3>Forgot Password</h3>
            </div>
            <div ng-if="vm.showError">
              <span class="center-element">Email not found.</span>
            </div>
            <div ng-if="vm.showSuccess">
              <span class="center-element">An email has been sent to that address. It may take a few minutes to show in your inbox.</span>
            </div>
            <form ng-submit="vm.sendPassword(vm.forgot)" method="POST">
              <div class="row">
                <div class="input-field col s10 offset-s1">
                  <input ng-model="vm.forgot.email2" type="email" id="email" required>
                  <label for="email">Email</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s8 offset-s2">
                  <button type="submit" class="waves-effect btn login-btn">Send</button>
                </div>
              </div>
            </form>
          </div>
          <div class="row">
            <div class="input-field left">
              <a ui-sref="portfolio.connection" class="btn-flat link-btn">
                <span class="sliding-middle-out">
                  Return to login
                </span>
              </a>
            </div>
            <div class="input-field right">
              <a ui-sref="portfolio.registration" class="btn-flat link-btn">
                <span class="sliding-middle-out">
                  Create an account
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
