<section class="row">
    <a href="#/" class="close-view right waves-effect waves-light btn"><i class="material-icons">clear</i></a>
    <div class="valign-wrapper col s12 full-height">
        <div class="valign center-element">
            <form ng-submit="vm.login(vm.credentials)">
              <div ng-if="vm.error" class="row">
                <h5 class="red-text">Sorry, {{vm.error}}</h5>
              </div>
                <div class="card connection-card">
                    <div class="card-content">
                        <h3>Forgot Password</h3>
                        <div class="input-field row">
                            <input ng-model="vm.credentials.username" type="email" id="email">
                            <label for="email">Email address</label>
                        </div>
                        <div class="input-field row">
                            <input type="email" id="confirm">
                            <label for="confirm">Confirm email address</label>
                        </div>
                    </div>
                </div>
                <div class="input-field right">
                    <button type="submit" class="waves-effect btn white-btn">Confirm</button>
                </div>
            </form>
        </div>
    </div>
</section>
