<section class="row contact-page">
    <a href="#/" class="close-view right waves-effect waves-light btn"><i class="material-icons">clear</i></a>
    <div class="card-content full-height">
        <div class="center-element full-height">
            <div class="valign-wrapper full-height col s4 offset-s1">
                <div class="row row-no-margin">
                    <div class="col s12">
                        <img src="/src/server/images/alex.jpg" alt="" class="responsive-img">
                    </div>
                </div>
            </div>
            <div class="valign-wrapper full-height col s6">
                <div class="row row-no-margin">
                    <div class="col s12">
                        <h1>Alexandre Huard</h1>
                        <p>
                            {{vm.about}}
                        </p>
                        <div ng-if="vm.showError">
                            <span class="center-element">An error occurred.</span>
                        </div>
                        <div ng-if="vm.showSuccess">
                            <span class="center-element">Your email was sent.</span>
                        </div>
                        <form ng-submit="vm.sendEmail(vm.contact)" method="POST">
                            <div class="row">
                                <div class="input-field col s6">
                                    <input ng-model="vm.contact.email" type="email" id="email" name="email" required>
                                    <label for="email">Your email</label>
                                </div>
                                <div class="input-field col s6">
                                    <input ng-model="vm.contact.subject" type="text" id="subject" name="email" required>
                                    <label for="subject">Subject</label>
                                </div>
                            </div>
                            <div class="row row-no-margin">
                                <div class="input-field col s12">
                                    <textarea ng-model="vm.contact.message" class="materialize-textarea" id="message" name="message" required></textarea>
                                    <label for="message">Message</label>
                                </div>
                            </div>
                            <div class="row row-no-margin">
                                <div class="input-field col s12">
                                    <button class="btn waves-effect waves-light" type="submit">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
