<section class="row">
    <a href="#/" class="close-view right waves-effect waves-light btn"><i class="material-icons">clear</i></a>
    <div ng-switch="vm.isLoading" class="full-height">
        <div ng-switch-when="true" class="valign-wrapper full-height">
            <div class="loader valign"></div>
        </div>
        <div ng-switch-when="false" ng-switch="vm.isSuccessful" class="img-loaded full-height">
            <div ng-switch-when="true" class="full-height">
                <div slider indicators="false" control="vm.sliderControl" class="full-height fullscreen">
                    <ul class="slides full-height">
                        <li ng-repeat="picture in vm.pictures track by picture.id">
                            <img modal ready="vm.sliderControl.pause()" complete="vm.sliderControl.start()" class="slide responsive-img" ng-attr-href="#modal{{$index}}" ng-src="{{picture.url}}" alt="">
                            <div class="col s12 slider-header">
                                <div class="row">
                                    <a href="" ng-click="vm.sliderControl.prev()"><i class="slider-controls material-icons left">arrow_back</i></a>
                                    <a href="" ng-click="vm.sliderControl.next()"><i class="slider-controls material-icons right">arrow_forward</i></a>
                                    <h2>{{picture.title}}</h2>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div ng-switch-when="false" class="full-height valign-wrapper">
                <h2 class="valign logo-font center-element img-loaded">Nothing here yet...</h2>
            </div>
        </div>
    </div>
</section>
<div ng-attr-id="modal{{$index}}" class="modal modal-portfolio" ng-repeat="picture in vm.pictures track by picture.id">
	<div class="modal-content">
		<div class="row">
			<div class="col s6 modal-img-container">
				<img class="responsive-img" ng-src="{{picture.url}}" alt="">
			</div>
			<div class="col s6 modal-main">
				<div class="row">
					<h3>{{picture.title}}</h3>
					<blockquote>
						<h4>
							{{picture.medium_type}}
							<span ng-show="{{picture.medium_spec !== ''}}">, {{picture.medium_spec}}</span>
						</h4>
						<p ng-show="{{picture.media_date !== '0000-00-00'}}">{{picture.media_date}}</p>
					</blockquote>
				</div>
				<div class="row">
					<ul class="collection">
						<li class="collection-item avatar" ng-repeat="comment in picture.comments track by comment.id">
							<img src="/src/client/photos/user.svg" alt="" class="circle">
							<span class="title"><b>{{comment.username}}</b> on {{comment.comment_date}}</span>
							<p class="comment-content">{{comment.content}}</p>
							<a ng-if="appVm.currentUser.userRole === 'admin'" href="" ng-click="vm.deleteComment(picture.comments, comment, $index)" class="secondary-content"><i class="material-icons">delete</i></a>
						</li>
					</ul>
				</div>
				<div ng-if="appVm.currentUser.userRole !== 'viewer'" class="row">
					<form ng-submit="vm.postComment(picture.comments, appVm.currentUser.userId, picture.id, picture.newComment, appVm.currentUser.userName, picture.medium_type, picture.medium_spec);picture.newComment = null;" class="col s12">
						<div class="row">
							<input-field>
								<textarea ng-attr-id="textarea{{$index}}" length="150" maxlength='150' ng-model="picture.newComment" required class="materialize-textarea"></textarea>
								<label ng-attr-for="textarea{{$index}}">Add Comment...</label>
							<input-field>
						</div>
						<div class="row">
							<button type="submit" class="right btn waves-effect waves-light ">Submit</button>
						</div>
					</form>
				</div>
				<div ng-show="appVm.currentUser.userRole === 'viewer'" class="row">
					<a ui-sref="portfolio.connection" class="btn-flat link-btn no-padding modal-action modal-close">
						<span class="sliding-middle-out primary">
                            Please log in to submit a comment.
							<i class="material-icons">exit_to_app</i>
                        </span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
