<section class="row row-no-margin full-height">
    <a href="#/" class="close-view right waves-effect waves-light btn"><i class="material-icons">clear</i></a>
    <div class="valign-wrapper col s12 full-height">
      <div class="valign center-element">
        <div class="center-align">
          <div class="card connection-card col s12 m12 l12 offset-s0 offset-m0 offset-l0">
            <div class="row">
              <h3>Register</h3>
            </div>
            <div ng-if="vm.showError">
              <span class="center-element">Username and/or email already exists.</span>
            </div>
            <div ng-if="vm.showNoMatchError">
              <span class="center-element">Password fields didn't match.</span>
            </div>
            <form ng-submit="vm.register(vm.user)" method="POST">
              <div class="row">
                <div class="input-field col s10 offset-s1">
                  <input ng-model="vm.user.username" type="text" name="username" id="username" pattern="^[a-zA-Z][a-zA-Z0-9-_/.]{3,20}$" title="Username must be between 4-20 characters. Spaces are and some special charcters are not allowed." required>
                  <label for="username">Username</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s10 offset-s1">
                  <input ng-model="vm.user.email" type="email" name="email" id="email" title="Email must be in correct format." required>
                  <label for="email">Email</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s10 offset-s1">
                  <input ng-model="vm.user.password" type="password" name="password" id="password" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" title="Password must be at least 8 characters and contain a lowercase, uppercase, and number." required>
                  <label for="password">Password</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s10 offset-s1">
                  <input ng-model="vm.confirmation" type="password" name="password_confirmation" id="password_confirmation" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" title="Password must be at least 8 characters and contain a lowercase, uppercase, and number." required>
                  <label for="password_confirmation">Confirm password</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s8 offset-s2">
                  <button type="submit" class="waves-effect btn login-btn">Register</button>
                </div>
              </div>
            </form>
          </div>
          <div class="input-field col s12">
            <a ui-sref="portfolio.connection" class="btn-flat link-btn">
              <span class="sliding-middle-out">
                Already have an account?
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
</section>
